<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="style.css"
    />
    <title>Placement Prediction</title>
  </head>

<body style="background:url('./image1.jpg')">

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Campus Placement Prediction </a>
            </div>
        </div>
    </nav>

     

    <div class="container">
        <form action="{{url_for('predict_datapoint')}}" method="POST">
            <h1>Campus Placement Prediction</h1>
            <div class="form-group">
                <label for="ssc_p">SSC_percentage:</label>
                <input type="number" step="0.01" name="cgpa" id="cgpa" min="0" pattern="^[0-9]\d*$" required/>
            </div>

            <div class="form-group">
                <label for="hsc_p">HSC_percentage:</label>
                <input type="number" step="0.01" name="cgpa" id="cgpa" min="0" pattern="^[0-9]\d*$" required/>
            </div>

            <div class="form-group">
                <label for="hsc_s">Stream:</label>
                <select id="hsc_s" name="hsc_s">
                    <option value="1">Commerce</option>
                    <option value="2">Science</option>
                    <option value="0">Arts</option>               
                </select>
            </div>

            <div class="form-group">
                <label for="degree_p">Degree_percentage:</label>
                <input type="number" step="0.01" name="cgpa" id="cgpa" min="0" pattern="^[0-9]\d*$" required/>
            </div>

            <div class="form-group">
                <label for="degree_t">Degree Stream:</label>
                <select id="degree_t" name="degree_t">
                    <option value="2">Sci/Tech</option>
                    <option value="0">Comm/Mgmt</option>
                    <option value="1">Others</option>               
                </select>
            </div>

            <div class="form-group">
                <label for="workex">Work Experience:</label>
                <select id="workex" name="workex">
                    <option value="0">No</option>
                    <option value="2">Yes</option>                
                </select>
            </div>

            <div class="form-group">
                <label for="etest_p">e_Test:</label>
                <input type="number" step="0.01" name="cgpa" id="cgpa" min="0" pattern="^[0-9]\d*$" required/>
            </div>

            <div class="form-group">
                <label for="specialisation">Specialisation:</label>
                <select id="specialisation" name="specialisation">
                    <option value="1">Mkt/HR</option>
                    <option value="0">Mkt/Fin</option>                
                </select>
            </div>

            <div class="form-group">
                <label for="mba_p">MBA percentage:</label>
                <input type="number" step="0.01" name="cgpa" id="cgpa" min="0" pattern="^[0-9]\d*$" required/>
            </div>

<!-- Submit -->
<input type="submit" value="Predict" class="btn btn-secondary">
</form>

<br>
<br>
<h3 style="color: black">{{ final_result }}</h3>

<br>
<br>
</body>

</html>



            